<div class="background-container">
  <h1>{{title}} Williams Products</h1>
  <ng-template #insideContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let images of images">
          <div class="picsum-img-wrapper">
            <img [src]="images" alt="">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
  <mat-grid-list [cols]="cols" rowHeight="400px" gutterSize="10px" #grid>
    <ng-container *ngFor="let group of groups">
      <mat-grid-tile>
        <div class="container">
          <div class="back-color"><label class="top-left">{{group.name}}</label></div>
          <div *ngIf="group.price else pricing_range"><label class="bottom-left">${{group.price.selling}}</label></div>
          <img src="{{ group.hero.href }}" (click)="openModal(insideContent, group)" alt="">
          <ng-template #pricing_range>
            <div class="bottom-left">
              ${{group.priceRange.selling.high}}
            </div>
          </ng-template>
        </div>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</div>
